.blog-area {
  background: #09114A;
  position: relative;
  display: block;
}
.blog-area .blog {
  display: block;
  position: relative;
  background: #45487d;
  overflow: hidden;
  vertical-align: middle;
  border-radius: 22px;
}
.blog-area .blog figure {
  display: block;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
}
.blog-area .blog figure img {
  width: 100%;
  display: block;
  transition: all 1.5s;
}
.blog-area .blog:hover figure img {
  transform: scale(1.2, 1.2);
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.blog-area .blog .content {
  display: block;
  position: relative;
  background: #1C2A5B;
  padding: 30px 35px;
}
.blog-area .blog .content span {
  display: block;
  font-size: 14px;
  color: #FFFFFF;
  margin: 0 0 25px;
}
.blog-area .blog .content span i {
  font-size: 16px;
  padding-right: 8px;
}
.blog-area .blog .content h4 {
  font-weight: 700;
}
.blog-area .blog .content h4 a {
  color: rgba(255, 255, 255, 0.61);
  padding-right: 20px;
  display: inline-block;
}
.blog-area .blog .content h4 a:hover {
  color: #3297cc;
}
.blog-area .blog .content .blog-btn {
  color: #3297cc;
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
}
.blog-area .blog .content .blog-btn i {
  padding-left: 8px;
}
.blog-area .blog .content .blog-btn:hover {
  color: rgba(255, 255, 255, 0.61);
}
.blog-area .view-btn {
  text-align: center;
  margin-top: 80px;
  display: block;
}
 